* {
    margin-top: 0;
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    line-height: 2px;
}

.container1 {
    height: 900px;
    display: flex;
    margin: 0 5%;
    flex-direction: row;
    justify-content: space-evenly !important;
}


.containerGameInfos {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-basis: 260px;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    /*background-image: url('../../views/graphics/background_messagelog.png') !important;*/
    background-size: cover;
}

.resourceDiv {
    display: flex;
    justify-content: space-around;
}

.resourceItem {
    padding: 3px;
    font-size: 22px;
}

.containerBoard {
    flex-basis: 30%;
    display: flex;
    height: 80%;
    flex-direction: column;
    position:relative;
    left:0;
    justify-content: space-between;
    align-items: center;
}

.chatBox {
    padding: 15px;
    width:100%;
    height:30%;
    text-align: left;
    border-radius: 5px;
    background-color: beige;
    border: 1px solid black;
}

.button1 {
    padding: 17px;
    background-color: gold;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

.innerBox {
    padding: 10px;
    width:100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
}

.costsBox {
    padding: 10px;
    width:100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
}

.costs1 {
    display:flex;
    width:100%;
    height: 90%;
    margin: 2px;
    justify-content: space-between;
}

.costs2 {
    height: 100%;
    padding:1px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skinnyBox {
    flex-basis: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}


.actionBox {
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 7px 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    background-size: cover;
}

.diceBox {
    display:flex;
    justify-content: space-evenly;
    margin: 5px 0;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    background-size: cover;
}

.actionBoxButton {
    background-color: gold;
    color: black;
    width: 100px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;

}

.actionBoxButtonGrey{
    background-color: grey;
}

