@import url("https://fonts.googleapis.com/css?family=EB+Garamond:wght@800&display=swap");

/**
This file contains the general and shared style of your application.
 */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond", serif !important;
  background-image: url("views/graphics/CatanBG.png");
  overflow-x: hidden;
}

/* set background image per page */
.game-bg {
  background: url('views/graphics/sea.gif') repeat;
  background-size: 30px;
 ;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.circle-crop {
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
